<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Metakaolin — Edit "{{ title }}"</title>
    <!-- -->
    <script src="{{app_url}}/d3.v2.min.js"></script>
    <script src="{{app_url}}/fermata.min.js"></script>
    <script src="{{app_url}}/polymaps.min.js"></script>
    <script src="{{app_url}}/polymaps.editor.js"></script>
    <script src="{{app_url}}/polymaps.viewer.js"></script>
    <script src="{{app_url}}/simplify-min.js"></script>
    <!-- -->

    <!-- temporary: allow quicker local development
    <script src="../_attachments/d3.min.js"></script>
    <script src="../_attachments/d3.geo.min.js"></script>
    <script src="../_attachments/fermata.min.js"></script>
    <script src="../_attachments/polymaps.min.js"></script>
    <script src="../_attachments/polymaps.editor.js"></script>
    <script src="../_attachments/polymaps.viewer.js"></script>
    <!-- /temporary -->

    <style>
        #map { position: absolute; top: 40px; bottom: 1em; left: 0; right: 0; padding: 0; margin: 0; }
        #sketch_capture { position: absolute;
            top: 0px;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
        #attrib { position: absolute; bottom: 2px; z-index: 3; font-size: .6em; }

        #shape_controls, .editing_shape #doc_controls { display: none; }
        #doc_controls, .editing_shape #shape_controls { display: block; }
        #switcher { position: absolute; top: 10px; right: 200px; }

        .viewer { fill: grey; fill-opacity: 0.5; stroke: black; }
        .viewer polyline { fill: none !important; stroke-width: 3px; }
        .viewer .hover { fill-opacity: 0.25; stroke-opacity: 0.75; }
        .viewer .color0 { fill: red; stroke: red; }
        .viewer .color1 { fill: green; stroke: green; }
        .viewer .color2 { fill: blue; stroke: blue; }
        .viewer .editing { fill-opacity: 0.05; stroke-opacity: 0.1; }
    </style>
</head>
<body>
    <form id="doc_controls" action="{{app_url}}/_update/content/{{id}}" method="POST">
        <a href="{{app_url}}/_list/summary/by_moddate">←</a>
        <!--<a href="{{app_url}}/_show/viewer/{{id}}">Cancel</a>-->
        <!--<a href="{{app_url}}/_show/files/{{id}}">Files...</a>-->
        <input name="title" placeholder="Document title" value="{{ title }}"></input>
        <button class="save" disabled>Save</button>
        <a href class="add">⫀ Add shape</a>
        <a href class="sketch">⫀ sketch</a>
        <textarea id="geojson_content" name="content" hidden>{{ content }}</textarea>
    </form>
    <div id="shape_controls">
        <a href class="cancel">← Cancel</a>
        <!--<a href>Fields...</a>-->
        <button class="save" type="button">Done</button>
        <a href class="delete">∉ Remove shape</a>
    </div>

    <form id=switcher><a href="">change basemap</a></form>
    <div id=sketch_capture></canvas></div>

    <div id="map"></div>
    <div id=attrib></div>

    <script>
        var yOff = 40;

        var po = org.polymaps,
            map = po.map().container(d3.select('#map').append("svg:svg")
              .attr("height", "100%")
              .attr("width", "100%")
              .node());
        map.add(po.interact());

        var tileset0 = "argyl.es";

        var osmAttribution = 'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, '
            +'<a href="http://www.openstreetmap.org/copyright">ODbL</a>.'
        var stamenAttribution = 'Map tiles by <a'
            +'href="http://stamen.com">Stamen Design</a>, under <a'
            +'href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>.'
        var mapQuestAttribution = '<a href="http://developer.mapquest.com/web/products/open/map">'
            +'MapQuest'

        var tileFlavors = {
            "argyl.es": {
                url: "http://temp{S}.argyl.es/preview-key/{Z}/{X}/{Y}.jpg",
                hosts: [1,2,3],
                attribution: ["Nathan Vander Wilt", "?contributors"],
                zMax: 18
            },
            "Stamen Toner": {
                url: "http://tile.stamen.com/toner/{Z}/{X}/{Y}.png",
                hosts: [],
                attribution: [stamenAttribution, osmAttribution],
                zMax: 18
            },
            "Stamen Terrain": {
                url: "http://tile.stamen.com/terrain/{Z}/{X}/{Y}.png",
                hosts: [],
                attribution: [stamenAttribution, osmAttribution],
                zMax: 18
            },
            "Mapbox Light": {
                url: "http://{S}.tiles.mapbox.com/v3/mapbox.world-light/{Z}/{X}/{Y}.png",
                hosts: ['a', 'b', 'c', 'd'],
                attribution: ['<a href="http://mapbox.com">MapBox</a>', "Natural Earth"],
                zMax: 11
            },
            "Blue Marble": {
                url:
                "http://s3.amazonaws.com/com.modestmaps.bluemarble/{Z}-r{Y}-c{X}.jpg",
                hosts: [],
                attribution: ["ModestMaps project,", "NASA"],
                zMax: 8
              },
            "MapQuest Open Aerial": {
                url: "http://oatile{S}.mqcdn.com/naip/{Z}/{X}/{Y}.jpg",
                hosts: [1, 2, 3],
                attribution: [mapQuestAttribution, osmAttribution],
                zMax: 18
            },
            "MapQuest OSM": {
                url:
                "http://otile{S}.mqcdn.com/tiles/1.0.0/osm/{Z}/{X}/{Y}.jpg",
                hosts: [1, 2, 3, 4],
                attribution: [mapQuestAttribution, osmAttribution],
                zMax: 18
              },
            "OpenStreetMap": {
                url: "http://{S}.tile.openstreetmap.org/{Z}/{X}/{Y}.png",
                hosts: ["a", "b", "c"],
                attribution: [osmAttribution],
                zMax: 18
              },
            "Open Cycle Map": {
                url: "http://{S}.tile.opencyclemap.org/cycle/{Z}/{X}/{Y}.png",
                hosts: ["a", "b", "c"],
                attribution: ['<a href="http://opencyclemap.org">Open Cycle Map</a>',
                                osmAttribution],
                zMax: 18
              },
            "Google Terrain": {
                url:
                'http://mts1.google.com/vt/lyrs=t@128,r@179150048&hl=en&x={X}&y={Y}&z={Z}',
                hosts: [],
                attribution: ['(c) Google Inc.'],
                zMax: 16
              }
          }

        // TODO: properly attribute whichever layer is used
        var tiles = po.image().on('load', function (e) {
            // https://github.com/simplegeo/polymaps/issues/36
            e.tile.element.width.baseVal.value += 1;
            e.tile.element.height.baseVal.value += 1;
        });

        tiles.url(po.url(tileFlavors[tileset0].url)
          .hosts(tileFlavors[tileset0].hosts));
        map.add(tiles);

        var vector = po_metakaolin_viewer(),
            editor = po_metakaolin_editor();
        map.add(vector).add(editor);

        d3.select(vector.container()).classed('viewer', true);
        vector.on('show', function (loadEvent) {
            loadEvent.features.forEach(function (f,i) {
                //d3.select(f.element).on('dblclick', function () {
                d3.select(f.element).on('click', function () {
                    d3.event.stopPropagation();
                    d3.event.preventDefault();
                    editGeometry(f.data.geometry);
                }).on("mouseover", function () {
                    d3.select(this).classed('hover', true);
                }).on("mouseout", function () {
                    d3.select(this).classed('hover', false);
                }).classed('color' + (i % 3), true).classed('editing', f.data.geometry === editingGeometry);
            });
        });

        var geoJsonEl = d3.select("#geojson_content").node(),
            featureCollection = (geoJsonEl.value) ? JSON.parse(geoJsonEl.value) : null;
        function updateFeatures() {
            geoJsonEl.value = JSON.stringify(featureCollection);
            vector.features(featureCollection.features);
            d3.select('#doc_controls .save').property('disabled', false);
        }
        if (!featureCollection) {
            featureCollection = {type:"FeatureCollection", features:[]};
            updateFeatures();
        }

        if (featureCollection.features.length) {
            var bounds = d3.geo.bounds(featureCollection).map(function (c) { return {lon:c[0], lat:c[1]}; });
            vector.features(featureCollection.features);
            map.extent(bounds).zoomBy(-0.25);
        } else if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function (p) {
            map.center({lat:p.coords.latitude, lon:p.coords.longitude}).zoom(14);
        });

        var sketchCoords = [];
        var sketchDiv = d3.select("#sketch_capture")
        var ctx = sketchDiv.append("canvas")
                .attr("id", "intermediate")
                .attr("height", window.innerHeight+'px')
                .attr("width", window.innerWidth+'px')
                .node().getContext("2d")
        ctx.strokeStyle = 'rgba(0,0,200,.27)'
        ctx.lineWidth = 12;

        function clear () {
            // trouble with clearrect on big canvas or
            // within the behavior drag object or something
            sketchDiv.style("z-index", -1)
            var rectx = d3.select("#sketch_capture")
            rectx.selectAll("canvas").remove()
            ctx = rectx.append("canvas")
                .attr("id", "intermediate")
                .attr("height", ctx.canvas.height)
                .attr("width", ctx.canvas.width)
                .node().getContext('2d')
            ctx.strokeStyle = 'rgba(0,0,200,.27)'
            ctx.lineWidth = 12;
        }

        function simple (vertices) {
          return simplify(vertices.map(
                function (c) {
                    return {x:c.lon, y:c.lat}
                  }), (.0001)*Math.pow(18/map.zoom(), 5) ).map( // should interpolate
                function (obj) {
                    return [obj.x, obj.y]
            })
        }

        var x0, y0, dx, dy, adx, ady;
        var sketch = d3.behavior.drag()
            .on("dragstart", function () {
                sketchCoords = [];
                dx = 0
                dy = 0
                adx = 0
                ady = 0
            })
            .on("drag", function () {
                var x = d3.event.x,
                    y = d3.event.y,
                    pos = map.pointLocation({x:x, y:y-yOff});
                if (!x0) {
                    x0 = x;
                    y0 = y;
                    ctx.moveTo(x0, y0);
                }
                pos.px = [x,y]
                sketchCoords.push(pos);
                ctx.lineTo(x,y);
                ctx.stroke()
                dx += d3.event.dx
                dy += d3.event.dy
                adx += Math.abs(d3.event.dx)
                ady += Math.abs(d3.event.dx)
            })
            .on("dragend", function () {
                var geomType = ((dx/adx + dy/ady) > .1)? "LineString": "Polygon"
                if (geomType === "Polygon") sketchCoords.push(sketchCoords[0]);
                addFeature( { type: geomType,
                    coordinates: (geomType === "Polygon")?
                    [ simple (sketchCoords) ]
                    : simple (sketchCoords)
                } )
                x0 = false;
                y0 = false;
                sketchDiv.style("z-index", -1);
                //clear();
                ctx.clearRect(0,0,ctx.canvas.width,ctx.canvas.height);
            })

        d3.select('#doc_controls .sketch').on('click', function () {
            d3.event.preventDefault();
            sketchDiv.style("z-index", 2);
        });

        sketchDiv.call(sketch);

        d3.select('#doc_controls .add').on('click', function () {
            d3.event.preventDefault();
            addFeature();
        });

        d3.select('input[name=title]').on('change', function () {
            d3.select('#doc_controls .save').property('disabled', false);
        });
        d3.select('#doc_controls').on('submit', function () {
            d3.select('#doc_controls .save').property('disabled', true);
        });
        window.addEventListener('beforeunload', function () {
            if (d3.select('#doc_controls .save').property('disabled') === false) {
                return 'You have unsaved changes that will be lost.';
            }
        }, false);

        function addFeature(geom) {
            if (geom) var geom = geom;
            else {
                var size = 0.00125,
                    center = map.center();
                var geom = {type:"Polygon", coordinates:[[]]};
                geom.coordinates[0].push([center.lon - size, center.lat + size]);
                geom.coordinates[0].push([center.lon + size, center.lat + size]);
                geom.coordinates[0].push([center.lon + size, center.lat - size]);
                geom.coordinates[0].push([center.lon - size, center.lat - size]);
                geom.coordinates[0].push([center.lon - size, center.lat + size]);
            }
            if (0) {
                geom.type = (1) ? "LineString" : "MultiPoint";
                geom.coordinates = geom.coordinates[0];
                geom.coordinates.pop();
            } else if (1) {
                geom = {type:"GeometryCollection", geometries:[geom]};
            }
            featureCollection.features.push({type:"Feature", properties:null, geometry:geom});
            updateFeatures();
            editGeometry(geom);
        }

        var editingGeometry = null;
        function editGeometry(geom) {
            d3.select(document.body).classed('editing_shape', true);
            editor.geometry(editingGeometry = geom);
            vector.reshow();
        }
        function saveEdits() {
            var newGeometry = editor.geometry();
            Object.keys(newGeometry).forEach(function (key) {
                editingGeometry[key] = newGeometry[key];
                if (key === "geometries") delete editingGeometry["coordinates"];
                if (key === "coordinates") delete editingGeometry["geometries"];
            });
            updateFeatures();
            finishEditing();
        }
        function deleteEdited() {
            var removedFeature = featureCollection.features.filter(function (f) {
                return f.geometry === editingGeometry; })[0];
            featureCollection.features = featureCollection.features.filter(function (f) { return f !== removedFeature; });
            updateFeatures();
            finishEditing();
        }
        function finishEditing() {
            editor.geometry(editingGeometry = null);
            vector.reshow();
            d3.select(document.body).classed('editing_shape', false);
        }
        d3.select('#shape_controls .cancel').on('click', function () {
            d3.event.preventDefault();
            finishEditing();
        });
        d3.select('#shape_controls .save').on('click', function () {
            d3.event.preventDefault();
            saveEdits();
            clear();
        });
        d3.select('#shape_controls .delete').on('click', function () {
            d3.event.preventDefault();
            deleteEdited();
            clear();
        });

        var attrib = d3.select("#attrib");
        function switchTiles (optionEvent) {
          var newSet = tileFlavors[optionEvent.srcElement.value]
          tiles.url(po.url(newSet.url)
            .hosts(newSet.hosts))
          attrib.html(newSet.attribution.join(' '))
        }


        function reTile () {
            d3.event.preventDefault();
            var tileForm = d3.select(this)
            tileForm.node().onchange = switchTiles
            tileForm.text("")
              .append("select")
              .attr("id", "tileselect")
              .selectAll("option")
              .data(d3.entries(tileFlavors).filter(function (entry) {
                      return (entry.value.zMax >= map.zoom());
                    }))
             .enter()
             .append("option")
             .attr("value", function (d) { return d.key; })
             .text(function (d) { return d.key; })
        }

        d3.select("#switcher").on('click', reTile)

    </script>
</body>
</html>
